#searchForm {
  border: 1px solid #b39bc8;
  color: gray;
  border-radius: 10px;
  height: 37px;
  width: 230px;
  font-size: smaller;
  text-align: left;
  padding-left: 10px;
  margin-left: 13px;
  background-color: #f0ebf4;
}

#searchButton {
  background-color: #f0ebf4;
  border: 1px solid #b39bc8;
  color: gray;
  font-size: smaller;
  text-align: center;
  margin-left: 10px;
  padding: 7px 40px;
  border-radius: 10px;

  transition: 180ms ease-in-out;
}
#searchButton:hover {
  background-color: #b39bc8;
  color: #f0ebf4;
}
